@model IEnumerable<Vessel_Info.Web.ViewModels.Vessels.VesselByOwnerViewModel>

@{
    ViewData["Title"] = "Get All Vessels By Most Owners";
}

@if (this.Model.Any())
{
    <h2 class="text-center">@ViewData["Title"]</h2>

    <table class="table table-hover table-bordered table-striped text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Imo</th>
                <th>Summert Dwt</th>
                <th>Built</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vessel in this.Model)
            {
                <tr>
                    <td scope="col">
                        <p>@vessel.Name</p>
                    </td>
                    <td scope="col">
                        <p>@vessel.Imo</p>
                    </td>
                    <td scope="col">
                        <p>@vessel.SummerDwt</p>
                    </td>
                    <td scope="col">
                        <p>@vessel.Built</p>
                    </td>
                    <td scope="col">
                        <p>@vessel.VesselOwner.Name</p>
                    </td>

                    <td>
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@vessel.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <div class="text-center">
        <h2 class="text-info">No vessel(s)!</h2>
    </div>
}